ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:gray;
position:-webkit-sticky;
position: sticky;
top:0;
width: 100%;

}

li {
    float: left;

}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:rgb(24, 111, 47);

}


